In [1]:
import csv
import pandas as pd
import math
import random

In [4]:
df = pd.read_csv('data/original_data.csv')

In [6]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="cynthia-app")

In [8]:
df['latitude'] = df.apply(lambda row: geolocator.geocode(row['hometown']).latitude, axis = 1)

In [123]:
df['longitude'] = df.apply(lambda row: geolocator.geocode(row['hometown']).longitude, axis = 1)

### ID data

In [9]:
# create id dict
info_by_name = {}

for i in range(len(df)):
    info_by_name[df.iloc[i]['name'].strip(' ')] = {'id': i}
    
respondent_names = list(info_by_name.keys())
num_respondents = len(respondent_names)

In [10]:
for i in range(len(df)):
    s = df.iloc[i]['roommates']
    if type(s) != str: continue
    s = s.replace('\n', ', ')
    split_list = s.split(', ')
    roommates_list = []
    for s in split_list:
        cleaned_name = s.strip(',').strip(' ')
        if cleaned_name not in info_by_name:
            info_by_name[cleaned_name] = {'id': len(info_by_name), 'connections': set()}
        roommates_list.append(cleaned_name)
        
    s = df.iloc[i]['people']
    if type(s) != str: continue
    s = s.replace('\n', ', ')
    split_list = s.split(', ')
    people_list = []
    for s in split_list:
        cleaned_name = s.strip(',').strip(' ')
        if cleaned_name not in info_by_name:
            info_by_name[cleaned_name] = {'id': len(info_by_name), 'connections': set()}
        people_list.append(cleaned_name)

### Connections

In [11]:
roommates_respondents = []
friendships_respndents = []
roommates_other = []
friendships_other = []

for i in range(len(df)):
    respondent_name = df.iloc[i]['name']
    respondent_id = i
    
    s = df.iloc[i]['roommates']
    if type(s) != str: continue
    s = s.replace('\n', ', ')
    split_list = s.split(', ')
    
    for s in split_list:
        roommate_name = s.strip(',').strip(' ')
        roommate_id = info_by_name[roommate_name]['id']
        if roommate_id < num_respondents:
            roommates_respondents.append([min(respondent_id, roommate_id), max(respondent_id, roommate_id)])
        else:
            roommates_other.append([respondent_id, roommate_id])
            info_by_name[roommate_name]['connections'].add(respondent_id)
            
    s = df.iloc[i]['people']
    if type(s) != str: continue
    s = s.replace('\n', ', ')
    split_list = s.split(', ')
    for s in split_list:
        friend_name = s.strip(',').strip(' ')
        friend_id = info_by_name[friend_name]['id']
        if friend_id < num_respondents:
            friendships_respndents.append([min(respondent_id, friend_id), max(respondent_id, friend_id)])
        else:
            friendships_other.append([respondent_id, friend_id])
            info_by_name[friend_name]['connections'].add(respondent_id)

In [12]:
roommates_respondents = list(list(i) for i in set(tuple(i) for i in roommates_respondents))
friendships_respndents = list(list(i) for i in set(tuple(i) for i in friendships_respndents))

num_connections = sum([len(roommates_respondents), len(friendships_respndents), 
                       len(roommates_other), len(friendships_other)])
print(num_connections, 'connections visualized!!')

665 connections visualized!!

### Hometown

In [13]:
# do some force field stuff for lat + longitude

# also scale proportionally to 25 by 64 piece

## Compile Respondent Data

#### Concentration Encoding

In [14]:
conc_to_id = {}
for curr in df['concentration']:
    if 'Secondary' in curr:
        curr = curr.replace(', Secondary in ', ' + ')
    curr_list = curr.split(' + ')
    for c in curr_list:
        if c[-1] == " ":
            c = c[:-1]
        if c not in conc_to_id:
            conc_to_id[c] = len(conc_to_id)

#### State/Country Encoding

In [15]:
state_to_id = {'International': 0}
for curr in df['hometown']:
    s = curr.split(', ')
    if len(s) == 3:
        state = s[1]
        if state not in state_to_id:
            state_to_id[state] = len(state_to_id)

In [25]:
data = []
for i in range(num_respondents):
    row = df.iloc[i]
    
    # get state or country 
    where_from = ''
    s = row['hometown'].split(', ')
    if len(s) == 3:
        where_from = state_to_id[s[1]]
    else:
        where_from = '0'
        
    # get concentration encoding
    conc_code = []
    conc = row['concentration']
    secondary_code = -1
    if 'Secondary' in conc:
        conc_secondary_split = conc.split(', Secondary in ')
        secondary = conc_secondary_split[-1]
        if secondary[-1] == " ": secondary = secondary[:-1]
        secondary_code = conc_to_id[secondary]
        conc = conc_secondary_split[0]
    conc_list = conc.split(' + ')
    for c in conc_list:
        if c[-1] == " ": c = c[:-1]
        conc_code.append(conc_to_id[c])
    
    x = random.randrange(-500, 500) # row['latitude']
    y = random.randrange(-500, 500) # row['longitude']
    person_info = [i, row['name'], x, y, where_from, row['class'], conc_code, secondary_code]
    
    data.append(person_info)

In [26]:
respondent_data = pd.DataFrame(data, columns=['id', 'name', 'x', 'y', 'from', 
                                              'class', 'concentration', 'secondary'])

    id               name    x    y from  class concentration  secondary
0    0       Dylan Wilson -318 -258    1   2025           [0]         -1
1    1         Luke Tomes  -67 -406    2   2024           [1]         -1
2    2       Cynthia Chen  -60   56    3   2024           [2]          3
3    3     Karley Merkley -197  199    0   2023           [4]         -1
4    4         Sarah Mrad -377 -164    0   2024           [5]         -1
5    5     Audrey Gunawan  238 -417    4   2025        [6, 0]         -1
6    6    Robin Robinson  -376  277    5   2023           [3]          1
7    7       Kira Nagoshi  330 -154    6   2024           [7]         -1
8    8    Saylor Willauer  437 -214    5   2024           [7]         -1
9    9       Lily Roberts   24 -287    7   2025           [8]         -1
10  10  Maycee Wieczorek   -19 -485    8   2024           [9]         -1
11  11          Tina Gong -226 -499    9   2025       [2, 10]         11
12  12    Matthew Andrews  270 -388    0   2025           [7]         -1
13  13  Siena Lerner-Gill  426  -43    9   2025          [12]         -1
14  14           Karen Li  206  414    3   2024           [2]          4
15  15        Ellen Hwang -409 -369    3   2024          [13]         14
16  16     Jillian Graver  391 -175   10   2023           [4]         -1
17  17    Chibuike Uwakwe  140 -141   11   2023           [5]         15
18  18      Bobby Current -317  251   12   2024           [0]         16
19  19       Anna Correll  330 -483   13   2023      [17, 18]         -1
20  20    Evangeline Liao -348 -239    0   2025          [19]         20
21  21         Michael Wu -137  286    3   2023           [2]         -1
22  22      Afiya Quryshi -470 -103   14   2024           [6]         -1
23  23          Sam Cohen -282   21   13   2023          [21]          1
24  24        SeoYoung Ha -253 -331   15   2025           [3]         -1
25  25         Audrey Ory  337  154    9   2023           [6]         22
26  26         Evan Jiang  197   62   16   2025        [2, 3]         -1
27  27         Rohan Shah  432  -84   13   2024       [7, 23]         -1
28  28        Anais Colin  148 -278   15   2025          [23]         20
29  29        Alison Chen -154  151   13   2023      [11, 16]         -1
30  30  Will Schrepferman -163 -447   17   2024           [0]         -1
31  31         Riley Kunz  190 -405   18   2024           [1]          2
32  32      Hannah Gadway  -46  443   19   2025          [12]         -1
33  33       Griffin Wong -447  -37    3   2024           [0]         -1
34  34      Ashley Zhuang  410  123    3   2023           [2]          3
35  35      Andrew Honold  167  184   13   2023          [12]         -1
36  36         Heavyn Lee -320 -319    6   2024          [12]         -1

## Compile data for non-respondents

In [28]:
data = []

for name in info_by_name:
    if name in respondent_names:
        continue
    row = info_by_name[name]
    curr_data = [row['id'], name]
    
    # Compute placement in visualization
    # If number connections > 1, take average location of connections to get location
    # Otherwise random around a circle of single connection
    conns = list(row['connections'])
    num_connections = len(row['connections'])
    x = 0
    y = 0
    if num_connections > 1:
        sum_x = 0
        sum_y = 0
        for c in conns:
            sum_x += respondent_data.iloc[c]['x']
            sum_y += respondent_data.iloc[c]['x']
        x = sum_x / num_connections
        y = sum_y / num_connections
        # can add randomness factor here
    else:
        single_conn = conns[0]
        theta = random.randrange(0, 360)
        r = random.randrange(10, 15)
        x = respondent_data.iloc[c]['x'] + r*math.cos(theta)
        y = respondent_data.iloc[c]['x'] + r*math.sin(theta)
        
    curr_data.append(x)
    curr_data.append(y)

    data.append(curr_data)

In [29]:
other_data = pd.DataFrame(data, columns=['id', 'name', 'x', 'y'])
other_data

      id                name           x           y
0     37          James Chen  -24.000000  -24.000000
1     38        Rohan Rajeev  -24.000000  -24.000000
2     39      Grayson Martin  -24.000000  -24.000000
3     40  Drake Evan Johnson  263.494933  278.870406
4     41    Shannon Hollands -132.000000 -132.000000
..   ...                 ...         ...         ...
333  370       Drake Johnson  154.401680  173.105927
334  371          Beck Saine  176.317114  170.631995
335  372        Alex Wassink  157.323425  161.768948
336  373    Sophia Salamanca  178.606915  170.046230
337  374     Cyble Fasquelle  169.650871  156.324192

[338 rows x 4 columns]

## Export data for visualization in p5.js

In [30]:
# with open("data/other_data.csv", "w", newline="") as f:
#     writer = csv.writer(f)
#     writer.writerows(other_data)

In [35]:
# Individual data
other_data.to_csv('data/other_data.csv', index = False)
respondent_data.to_csv('data/respondent_data.csv', index = False)

In [38]:
# Connections data
with open("data/roommates_respondents.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(roommates_respondents)
    
with open("data/friendships_respndents.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(friendships_respndents)
    
with open("data/roommates_other.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(roommates_other)
    
with open("data/friendships_other.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(friendships_other)